html, body {
    height: 100%;
    min-width: 40em;
}

.data-address-container{
	padding-top: 3em;
}

.txt-line{
	padding: 0.8em 5em;
}

#slt-province,#slt-city{
	width: 10em;
    display: inline-block;
    border: 0.07142857142857142em solid #d6d6d6;
    margin: 0 1em;
}

#slt-province .selectList,#slt-city .selectList{
	border: 0.07142857142857142em solid #d6d6d6;
	width: 101.8%;
    left: -0.1em;
}

label{
	width: 5em;
	display: inline-block;
}

input[type="text"]{
	margin: 0 1em;
    width: 25em;
}

.btnSave{
	padding: 0.45em 1.8em;
	border-radius: .3em;
	background: #34A7E8;
	background: -webkit-linear-gradient(#34A7E8, #1A88D8);
	background: -o-linear-gradient(#34A7E8, #1A88D8);
	background: -moz-linear-gradient(#34A7E8, #1A88D8);
	background: linear-gradient(#34A7E8, #1A88D8);
	border: .1em solid #1992D9;
	margin: 1em 0 0 25.5em;
}

.btnSave:hover{
	cursor: pointer;
	background: #1a6bd6;
	background: -webkit-linear-gradient(#2f90d5, #0351b7);
	background: -o-linear-gradient(#2f90d5, #0351b7);
	background: -moz-linear-gradient(#2f90d5, #0351b7);
	background: linear-gradient(#2f90d5, #0351b7);
}

.btnSave:active{
	cursor: pointer;
	-webkit-box-shadow: 0 .07em 0 #fff, inset 0 0 .7em rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 .07em 0 #fff, inset 0 0 .75em rgba(0, 0, 0, 0.5);
	box-shadow: 0 .07em 0 #fff, inset 0 0 .75em rgba(0, 0, 0, 0.5);
}