.gridContainer {
	padding: .5em 0;
}

.data-grid-panel {
	width: 100%;
	user-select: none;
}

.data-grid-header {
	
}

.data-grid-header-line {
	
}

.data-grid-header-item {
	border: .01em solid #d1d1d1;
	font-size: 1.1em;
	padding: 1em;
	background-color: #c2c2c2;
	color: #3e4349;
}

.data-grid-body {
	
}

.data-grid-body-line:hover {
	cursor: pointer;
	background-color: #e9e9e9;
	color: #333;
}

.gridLineSelect {
	background-color: #3e4349 !important;
	color: #fff !important;
}

.data-grid-body-item {
	padding: 0.7em 1em;
	border: .01em solid #d1d1d1;
	max-width: 30em;
	position: relative;
}

.data-grid-footer-line {
	height: 4em;
	border: .01em solid #adadad;
	background-color: #cbcbcb;
}

.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
}

.data-icon-woman,.data-icon-man,.data-icon-user,.data-icon-manager{
	display: inline-block;
    padding: 0.4em 0.7em;
    color: #fff;
    user-select: none;
    border-radius: 0.6em;
}

.data-icon-woman{
	background-color: #ff5270;
}

.data-icon-man{
	background-color: #0a9aea;
}

.data-icon-user{
	background-color: #55595f;
}

.data-icon-manager{
	background-color: #0070c9;
}

/* 表格图片的样式 */

.data-grid-body-item-img{
	width: 2em;
    height: 2em;
    margin: 0.1em 0.3em 0;
}

/* 表格页脚的样式 */
.data-grid-footer{
	margin-bottom: .5em;
}

.data-grid-footer-line{
	width: 100%;
	position: relative;
}

.data-grid-footer-line>span{
	display: inline-block;
	padding: .7em 0;
}

.data-grid-footer-total{
	
}

.pageBtn{
	padding: .5em 1em;
    margin: 0 0.5em 0 0;
    position: absolute;
    top: 0.8em;
}

.data-grid-footer-page{
	width: 4em;
    margin: 0 0.1em 0 3em;
    position: absolute;
    top: 0.8em;
    right: 7.3em;
}

.btnFirst{
	right: 34.5em;
}

.btnPrev{
	right: 29em;
}

.btnNext{
	right: 18.5em;
}

.btnLast{
	right: 14em;
}

.btnJump{
    margin: 0 2em 0 .2em;
    right: 1em;
}

.currentPage{
	
}

.totalPage{
	
}

.pageSpan{
	right: 26em;
    position: absolute;
    top: .6em;
}

.ddlPageSize .selectList{
	width: 102.5%;
}

button{
	border-color: #323942;
    background-color: #323942;
}

button:hover{
	border-color: #4f5760;
    background-color: #4f5760;
}

.selectDes{
	color: #fff;
}